In [9]:
#importing pandas
import pandas as pd

#reading file
df = pd.read_csv('nics.csv')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [10]:
#printing shape 
df.shape

(13915, 27)

In [11]:
#printing features or columns 
df.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'],
      dtype='object')

In [12]:
#printing the head

df.head(10)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2019-11,Alabama,26375.0,472.0,24005.0,19212.0,1161.0,1286,0.0,32.0,...,0.0,0.0,0.0,46.0,31.0,3.0,1.0,1.0,0.0,77657
1,2019-11,Alaska,238.0,10.0,3003.0,2980.0,368.0,260,0.0,0.0,...,0.0,0.0,0.0,30.0,20.0,4.0,0.0,0.0,0.0,7213
2,2019-11,Arizona,4524.0,650.0,13775.0,8180.0,1131.0,1182,0.0,6.0,...,0.0,0.0,0.0,20.0,9.0,4.0,1.0,0.0,0.0,31352
3,2019-11,Arkansas,2319.0,649.0,6814.0,9628.0,321.0,542,4.0,21.0,...,0.0,0.0,0.0,5.0,20.0,2.0,0.0,2.0,0.0,23192
4,2019-11,California,29002.0,0.0,34345.0,25063.0,3564.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92765
5,2019-11,Colorado,4765.0,0.0,17950.0,13946.0,1475.0,1272,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39682
6,2019-11,Connecticut,5513.0,355.0,4908.0,2321.0,692.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13789
7,2019-11,Delaware,154.0,0.0,1684.0,2063.0,95.0,88,0.0,3.0,...,0.0,0.0,0.0,68.0,28.0,1.0,0.0,0.0,0.0,4258
8,2019-11,District of Columbia,459.0,0.0,103.0,1.0,0.0,1,3.0,0.0,...,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,595
9,2019-11,Florida,14070.0,0.0,54799.0,24497.0,3666.0,2924,0.0,41.0,...,27.0,0.0,0.0,197.0,138.0,29.0,53.0,39.0,0.0,107274

In [13]:
#printing the tail
df.tail(10)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
13905,1998-11,Tennessee,0.0,NaN,19.0,85.0,NaN,3,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107
13906,1998-11,Texas,0.0,NaN,1384.0,1349.0,NaN,60,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2794
13907,1998-11,Utah,0.0,NaN,98.0,169.0,NaN,0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,267
13908,1998-11,Vermont,0.0,NaN,23.0,35.0,NaN,0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59
13909,1998-11,Virgin Islands,0.0,NaN,0.0,0.0,NaN,0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
13910,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
13911,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
13912,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
13913,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
13914,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

In [14]:
# printing the information of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13915 entries, 0 to 13914
Data columns (total 27 columns):
month                        13915 non-null object
state                        13915 non-null object
permit                       13891 non-null float64
permit_recheck               2530 non-null float64
handgun                      13895 non-null float64
long_gun                     13896 non-null float64
other                        6930 non-null float64
multiple                     13915 non-null int64
admin                        13892 non-null float64
prepawn_handgun              11972 non-null float64
prepawn_long_gun             11970 non-null float64
prepawn_other                6545 non-null float64
redemption_handgun           11975 non-null float64
redemption_long_gun          11974 non-null float64
redemption_other             6545 non-null float64
returned_handgun             3630 non-null float64
returned_long_gun            3575 non-null float64
returned_other               3245 non-null float64
rentals_handgun              2420 non-null float64
rentals_long_gun             2255 non-null float64
private_sale_handgun         4180 non-null float64
private_sale_long_gun        4180 non-null float64
private_sale_other           4180 non-null float64
return_to_seller_handgun     3905 non-null float64
return_to_seller_long_gun    4180 non-null float64
return_to_seller_other       3685 non-null float64
totals                       13915 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.9+ MB

In [15]:
#describing the data with mean, median, std 25, 50, 75, min and max
df.describe()

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
count,13891.000000,2530.000000,13895.000000,13896.000000,6930.000000,13915.000000,13892.000000,11972.000000,11970.000000,6545.000000,...,3245.000000,2420.000000,2255.000000,4180.000000,4180.000000,4180.000000,3905.000000,4180.000000,3685.000000,13915.000000
mean,7109.665827,4472.106719,6378.952429,7787.765544,445.068110,280.842113,55.682551,5.059472,7.597911,0.278075,...,1.343297,0.153306,0.138803,22.467943,18.386364,2.225120,0.793342,0.785407,0.107463,23533.330147
std,26671.836201,32342.422884,9132.310695,9139.057970,1305.584023,769.778686,580.575951,11.195156,15.897874,1.178707,...,4.845949,1.041139,0.874451,90.764379,71.955177,8.475902,3.981072,3.381343,0.411376,38207.572106
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,977.000000,2118.750000,23.000000,14.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4849.500000
50%,698.000000,0.000000,3314.000000,5135.000000,154.000000,131.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12930.000000
75%,5053.500000,14.000000,7892.000000,10435.250000,450.000000,313.000000,0.000000,5.000000,8.000000,0.000000,...,0.000000,0.000000,0.000000,10.000000,11.000000,1.000000,0.000000,0.000000,0.000000,27202.500000
max,522188.000000,448997.000000,107224.000000,108058.000000,77929.000000,38907.000000,28083.000000,164.000000,269.000000,49.000000,...,73.000000,13.000000,12.000000,1299.000000,993.000000,195.000000,70.000000,62.000000,4.000000,541978.000000

In [20]:
#reading files 
import pandas as pd
df_2 = pd.read_csv('nics.csv')
df_2.head(20)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2019-11,Alabama,26375.0,472.0,24005.0,19212.0,1161.0,1286,0.0,32.0,...,0.0,0.0,0.0,46.0,31.0,3.0,1.0,1.0,0.0,77657
1,2019-11,Alaska,238.0,10.0,3003.0,2980.0,368.0,260,0.0,0.0,...,0.0,0.0,0.0,30.0,20.0,4.0,0.0,0.0,0.0,7213
2,2019-11,Arizona,4524.0,650.0,13775.0,8180.0,1131.0,1182,0.0,6.0,...,0.0,0.0,0.0,20.0,9.0,4.0,1.0,0.0,0.0,31352
3,2019-11,Arkansas,2319.0,649.0,6814.0,9628.0,321.0,542,4.0,21.0,...,0.0,0.0,0.0,5.0,20.0,2.0,0.0,2.0,0.0,23192
4,2019-11,California,29002.0,0.0,34345.0,25063.0,3564.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92765
5,2019-11,Colorado,4765.0,0.0,17950.0,13946.0,1475.0,1272,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39682
6,2019-11,Connecticut,5513.0,355.0,4908.0,2321.0,692.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13789
7,2019-11,Delaware,154.0,0.0,1684.0,2063.0,95.0,88,0.0,3.0,...,0.0,0.0,0.0,68.0,28.0,1.0,0.0,0.0,0.0,4258
8,2019-11,District of Columbia,459.0,0.0,103.0,1.0,0.0,1,3.0,0.0,...,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,595
9,2019-11,Florida,14070.0,0.0,54799.0,24497.0,3666.0,2924,0.0,41.0,...,27.0,0.0,0.0,197.0,138.0,29.0,53.0,39.0,0.0,107274
10,2019-11,Georgia,14625.0,0.0,16171.0,13002.0,653.0,721,0.0,27.0,...,0.0,0.0,0.0,8.0,7.0,2.0,0.0,0.0,0.0,48604
11,2019-11,Guam,0.0,0.0,98.0,65.0,12.0,5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,181
12,2019-11,Hawaii,921.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,923
13,2019-11,Idaho,5124.0,7.0,4875.0,5774.0,426.0,330,0.0,7.0,...,2.0,0.0,0.0,5.0,15.0,0.0,2.0,0.0,0.0,17385
14,2019-11,Illinois,12356.0,403014.0,21597.0,12115.0,0.0,1002,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,450084
15,2019-11,Indiana,668.0,35253.0,21903.0,17950.0,1776.0,1067,24.0,4.0,...,1.0,0.0,0.0,46.0,34.0,43.0,2.0,2.0,0.0,80002
16,2019-11,Iowa,6123.0,9707.0,348.0,4487.0,58.0,9,1.0,0.0,...,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,20819
17,2019-11,Kansas,1040.0,4.0,7143.0,7349.0,606.0,452,0.0,10.0,...,0.0,0.0,0.0,7.0,3.0,1.0,1.0,0.0,0.0,17643
18,2019-11,Kentucky,1372.0,360423.0,12094.0,12686.0,528.0,738,5.0,29.0,...,0.0,0.0,0.0,20.0,27.0,0.0,0.0,2.0,0.0,391747
19,2019-11,Louisiana,620.0,65.0,11282.0,13282.0,687.0,660,1.0,11.0,...,0.0,0.0,0.0,8.0,21.0,1.0,0.0,1.0,0.0,28692

In [21]:
#printing the shape
df_2.shape

(13915, 27)

In [22]:
df_2.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'],
      dtype='object')

In [23]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13915 entries, 0 to 13914
Data columns (total 27 columns):
month                        13915 non-null object
state                        13915 non-null object
permit                       13891 non-null float64
permit_recheck               2530 non-null float64
handgun                      13895 non-null float64
long_gun                     13896 non-null float64
other                        6930 non-null float64
multiple                     13915 non-null int64
admin                        13892 non-null float64
prepawn_handgun              11972 non-null float64
prepawn_long_gun             11970 non-null float64
prepawn_other                6545 non-null float64
redemption_handgun           11975 non-null float64
redemption_long_gun          11974 non-null float64
redemption_other             6545 non-null float64
returned_handgun             3630 non-null float64
returned_long_gun            3575 non-null float64
returned_other               3245 non-null float64
rentals_handgun              2420 non-null float64
rentals_long_gun             2255 non-null float64
private_sale_handgun         4180 non-null float64
private_sale_long_gun        4180 non-null float64
private_sale_other           4180 non-null float64
return_to_seller_handgun     3905 non-null float64
return_to_seller_long_gun    4180 non-null float64
return_to_seller_other       3685 non-null float64
totals                       13915 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.9+ MB

In [24]:
df_2.describe()

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
count,13891.000000,2530.000000,13895.000000,13896.000000,6930.000000,13915.000000,13892.000000,11972.000000,11970.000000,6545.000000,...,3245.000000,2420.000000,2255.000000,4180.000000,4180.000000,4180.000000,3905.000000,4180.000000,3685.000000,13915.000000
mean,7109.665827,4472.106719,6378.952429,7787.765544,445.068110,280.842113,55.682551,5.059472,7.597911,0.278075,...,1.343297,0.153306,0.138803,22.467943,18.386364,2.225120,0.793342,0.785407,0.107463,23533.330147
std,26671.836201,32342.422884,9132.310695,9139.057970,1305.584023,769.778686,580.575951,11.195156,15.897874,1.178707,...,4.845949,1.041139,0.874451,90.764379,71.955177,8.475902,3.981072,3.381343,0.411376,38207.572106
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,977.000000,2118.750000,23.000000,14.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4849.500000
50%,698.000000,0.000000,3314.000000,5135.000000,154.000000,131.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12930.000000
75%,5053.500000,14.000000,7892.000000,10435.250000,450.000000,313.000000,0.000000,5.000000,8.000000,0.000000,...,0.000000,0.000000,0.000000,10.000000,11.000000,1.000000,0.000000,0.000000,0.000000,27202.500000
max,522188.000000,448997.000000,107224.000000,108058.000000,77929.000000,38907.000000,28083.000000,164.000000,269.000000,49.000000,...,73.000000,13.000000,12.000000,1299.000000,993.000000,195.000000,70.000000,62.000000,4.000000,541978.000000

In [25]:
df_2.describe(include = 'object')

          month          state
count     13915          13915
unique      253             55
top     2006-06  West Virginia
freq         55            253

In [26]:
df_2.nlargest(10, 'handgun')

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
2631,2015-12,Texas,33163.0,NaN,107224.0,80247.0,4585.0,4505,0.0,47.0,...,2.0,NaN,NaN,60.0,52.0,12.0,1.0,5.0,1.0,241791
4611,2012-12,Texas,12389.0,NaN,98886.0,108058.0,3699.0,5293,0.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239956
2625,2015-12,Pennsylvania,44433.0,NaN,90055.0,18758.0,0.0,0,57.0,0.0,...,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,153826
4556,2013-01,Texas,19093.0,NaN,89130.0,60897.0,3015.0,3827,0.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,186890
2594,2015-12,Florida,25044.0,NaN,86940.0,45769.0,4165.0,3005,85.0,22.0,...,0.0,NaN,NaN,64.0,37.0,2.0,1.0,0.0,0.0,168935
4501,2013-02,Texas,37366.0,NaN,76087.0,52208.0,2437.0,3973,0.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,189806
2589,2015-12,California,119166.0,NaN,74399.0,48762.0,9583.0,0,0.0,0.0,...,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,252946
2576,2016-01,Texas,36269.0,NaN,72626.0,38396.0,3756.0,2700,0.0,44.0,...,0.0,NaN,NaN,50.0,21.0,4.0,3.0,3.0,1.0,164088
2521,2016-02,Texas,56900.0,0.0,72584.0,37980.0,3156.0,3891,0.0,53.0,...,3.0,NaN,NaN,47.0,44.0,6.0,4.0,1.0,3.0,192417
1311,2017-12,Texas,24815.0,0.0,70767.0,66779.0,4312.0,3488,0.0,62.0,...,1.0,0.0,0.0,127.0,131.0,14.0,0.0,2.0,2.0,181236

In [27]:
df_2.nsmallest(10, 'handgun')

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
12,2019-11,Hawaii,921.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,923
67,2019-10,Hawaii,1099.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1102
122,2019-09,Hawaii,967.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,969
177,2019-08,Hawaii,1021.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1025
232,2019-07,Hawaii,1040.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1045
287,2019-06,Hawaii,856.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,857
342,2019-05,Hawaii,1100.0,2.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1105
397,2019-04,Hawaii,1207.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1212
452,2019-03,Hawaii,1126.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1129
507,2019-02,Hawaii,1028.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1032

In [28]:
#importing libraries
import pandas as pd 

#reading files.
df = pd.read_csv('salaries.csv')
print(df)

#print shape, column attributes   and info, describe methods
print(df.shape)
print(df.columns)
print(df.info())
print(df.describe())
print(df.describe(include = 'object'))

#printing the sorted values
print(df.sort_values(by = ['Salary'], axis = 0, ascending= True ))

#printing largest and smallest
print(df.nlargest(10, 'Salary'))
print(df.nsmallest(10, 'Salary'))

                           E_name  E_status  Salary  Pay Basis  \
0                 Abrams, Adam W.  Employee   66300  Per Annum
1                   Adams, Ian H.  Employee   45000  Per Annum
2                 Agnew, David P.  Employee   93840  Per Annum
3                  Albino, James   Employee   91800  Per Annum
4            Aldy, Jr., Joseph E.  Employee  130500  Per Annum
5                Alley, Hilary J.  Employee   42000  Per Annum
6            Amorsingh, Lucius L.  Employee   56092  Per Annum
7             Anderson, Amanda D.  Employee   60000  Per Annum
8            Anderson, Charles D.  Employee   51000  Per Annum
9                Andrias, Kate E.  Employee  130500  Per Annum
10             Anello, Russell M.  Employee   66300  Per Annum
11              Asen, Jonathan D.  Employee   42000  Per Annum
12             Attili, Candice L.  Employee   58511  Per Annum
13              Axelrod, David M.  Employee  172200  Per Annum
14             Ayling, Lindsay A.  Employee   42000  Per Annum
15             Baggetto, Maude L.  Employee   42000  Per Annum
16       Baldassaro, Frederick J.  Detailee  122744  Per Annum
17              Barnes, Melody C.  Employee  172200  Per Annum
18   Baskerville, Jr., Chester A.  Employee   47532  Per Annum
19                 Bassin, Ian M.  Employee   99000  Per Annum
20               Bates, Andrew J.  Employee   42000  Per Annum
21             Bauer, Nicholas T.  Employee   55000  Per Annum
22               Bauer, Robert F.  Employee  172200  Per Annum
23             Becnel, Bradley D.  Employee   55000  Per Annum
24      Bedingfield, Katherine J.  Employee   90000  Per Annum
25              Beinart, Diana H.  Employee  130500  Per Annum
26              Belive, Lauren E.  Employee   45000  Per Annum
27            Beliveau, Emmett S.  Employee  130000  Per Annum
28              Bernard, Sarah C.  Employee   70000  Per Annum
29             Beverly, Alaina C.  Employee   71400  Per Annum
..                            ...       ...     ...        ...
439           Verrilli, Donald B.  Employee  158500  Per Annum
440             Vietor, Thomas F.  Employee   78000  Per Annum
441             Vogel, Matthew A.  Employee   71400  Per Annum
442             Voorman, David A.  Employee   45594  Per Annum
443                Wade, David L.  Employee   55000  Per Annum
444              Wade, Frances J.  Employee   44402  Per Annum
445                Walsh, Joan L.  Employee   60000  Per Annum
446             Wang-Levine, Adam  Employee   55080  Per Annum
447             Watkins, Kyle D.   Employee   45000  Per Annum
448            Watson, Takesha R.  Employee   43860  Per Annum
449              Wear, Michael R.  Employee   45900  Per Annum
450          Webster, Meridith A.  Employee  120000  Per Annum
451             Weiser, Philip J.  Detailee  172000  Per Annum
452        Whichard, IV, David J.  Employee   45900  Per Annum
453                   White, Cleo  Detailee   65393  Per Annum
454            Whitty, Patrick M.  Employee   45000  Per Annum
455            Williams, Marie J.  Employee   55000  Per Annum
456          Williams, Sherman A.  Employee   74958  Per Annum
457             Wilson, Denise R.  Employee  130500  Per Annum
458             Wilson, Samuel A.  Employee   45000  Per Annum
459               Winter, Melissa  Employee  102000  Per Annum
460                 Witt, Abigail  Employee   45000  Per Annum
461                Wong, Shale L.  Employee       0  Per Annum
462            Wright, Jessica N.  Employee   96900  Per Annum
463    Yeager Kaplan, Jennifer F.  Employee   66300  Per Annum
464       Young, Jr., Reginald D.  Employee   60232  Per Annum
465           Young, Katherine H.  Employee   42000  Per Annum
466              Young, Latoya A.  Employee   58511  Per Annum
467            Zelman, Allison L.  Employee   50000  Per Annum
468            Zichal, Heather R.  Employee  100000  Per Annum

                                        Position Title
0             WESTERN REGIONAL COMMUNICATIONS DIRECTOR
1    EXECUTIVE ASSISTANT TO THE DIRECTOR OF SCHEDUL...
2         DEPUTY DIRECTOR OF INTERGOVERNMENTAL AFFAIRS
3                               SENIOR PROGRAM MANAGER
4    SPECIAL ASSISTANT TO THE PRESIDENT FOR ENERGY ...
5                                      STAFF ASSISTANT
6                                    SPECIAL ASSISTANT
7              SPECIAL ASSISTANT TO THE CHIEF OF STAFF
8                                     POLICY ASSISTANT
9    SPECIAL ASSISTANT TO THE PRESIDENT AND ASSOCIA...
10                                             COUNSEL
11                                      SENIOR ANALYST
12                              ASSISTANT SHIFT LEADER
13       ASSISTANT TO THE PRESIDENT AND SENIOR ADVISOR
14                                             ANALYST
15                                     STAFF ASSISTANT
16                             COMMUNICATIONS DIRECTOR
17   ASSISTANT TO THE PRESIDENT AND DIRECTOR OF THE...
18                              ASSISTANT SHIFT LEADER
19                            DEPUTY ASSOCIATE COUNSEL
20                                       MEDIA MONITOR
21                                  ASSOCIATE DIRECTOR
22   ASSISTANT TO THE PRESIDENT AND COUNSEL TO THE ...
23                  SPECIAL ASSISTANT AND ADVANCE LEAD
24                   DEPUTY DIRECTOR FOR MEDIA AFFAIRS
25   SPECIAL ASSISTANT TO THE PRESIDENT AND ASSOCIA...
26      LEGISLATIVE ASSISTANT AND ASSISTANT FOR EVENTS
27   DEPUTY ASSISTANT TO THE PRESIDENT AND DIRECTOR...
28                         DIRECTOR, ONLINE ENGAGEMENT
29                 ASSOCIATE DIRECTOR OF URBAN AFFAIRS
..                                                 ...
439  DEPUTY ASSISTANT TO THE PRESIDENT AND DEPUTY C...
440                          ASSISTANT PRESS SECRETARY
441  ASSOCIATE DIRECTOR OF COMMUNICATIONS FOR ECONO...
442                         RECORDS MANAGEMENT ANALYST
443                                 ASSOCIATE DIRECTOR
444                         RECORDS MANAGEMENT ANALYST
445                          ASSISTANT STAFF SECRETARY
446                                     POLICY ADVISOR
447  SPECIAL ASSISTANT TO THE DEPUTY ASSISTANT TO T...
448                          SPECIAL SERVICES OPERATOR
449      EXECUTIVE ASSISTANT TO THE EXECUTIVE DIRECTOR
450  SPECIAL ASSISTANT TO THE PRESIDENT AND SENIOR ...
451  SENIOR ADVISOR FOR TECHNOLOGY AND INNOVATION T...
452            ASSOCIATE DIRECTOR AND TRIP COORDINATOR
453                                            ANALYST
454                                EXECUTIVE ASSISTANT
455                    BOARDS AND COMMISSIONS DIRECTOR
456                   ASSISTANT TO THE EXECUTIVE CLERK
457  SPECIAL ASSISTANT TO THE PRESIDENT FOR LEGISLA...
458                DEPUTY DIRECTOR FOR BROADCAST MEDIA
459  SPECIAL ASSISTANT TO THE PRESIDENT AND DEPUTY ...
460  SPECIAL ASSISTANT TO THE CHIEF OF STAFF OF THE...
461                                     POLICY ADVISOR
462    DEPUTY DIRECTOR OF SCHEDULING FOR THE PRESIDENT
463  SPECIAL ASSISTANT TO THE DIRECTOR OF PUBLIC EN...
464                         RECORDS MANAGEMENT ANALYST
465                                    STAFF ASSISTANT
466                         RECORDS MANAGEMENT ANALYST
467                                   POLICY ASSISTANT
468  DEPUTY ASSISTANT TO THE PRESIDENT FOR ENERGY A...

[469 rows x 5 columns]
(469, 5)
Index(['E_name', 'E_status', 'Salary', 'Pay Basis', 'Position Title'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 5 columns):
E_name            469 non-null object
E_status          469 non-null object
Salary            469 non-null int64
Pay Basis         469 non-null object
Position Title    469 non-null object
dtypes: int64(1), object(4)
memory usage: 18.4+ KB
None
              Salary
count     469.000000
mean    82721.336887
std     41589.433381
min         0.000000
25%     45900.000000
50%     66300.000000
75%    113000.000000
max    179700.000000
                E_name  E_status  Pay Basis   Position Title
count              469       469        469              469
unique             469         3          1              269
top     Pope, Jamal A.  Employee  Per Annum  STAFF ASSISTANT
freq                 1       437        469               24
                        E_name              E_status  Salary  Pay Basis  \
66           Chen, Margaret C.              Employee       0  Per Annum
277      McGinnis, Patricia G.              Employee       0  Per Annum
461             Wong, Shale L.              Employee       0  Per Annum
235  Leitner-Laserna, Sofia I.  Employee (part-time)   21000  Per Annum
248     Liegel, Christopher J.              Employee   37826  Per Annum
185      Jackson, Elizabeth J.              Employee   37983  Per Annum
373         Schaub, Matthew J.              Employee   42000  Per Annum
103        Donovan, William J.              Employee   42000  Per Annum
104          Dorsett, Craig M.              Employee   42000  Per Annum
353          Robertson, Ian T.              Employee   42000  Per Annum
231               Lee, Gary S.              Employee   42000  Per Annum
230        Ledbetter, Howli J.              Employee   42000  Per Annum
341        Pulliam, Allison C.              Employee   42000  Per Annum
120        Faulman, Michael T.              Employee   42000  Per Annum
122             Fenn, Sarah B.              Employee   42000  Per Annum
375         Schmuck, Robert E.              Employee   42000  Per Annum
391              Sinha, Manish              Employee   42000  Per Annum
395            Smith, Jason J.              Employee   42000  Per Annum
85       Cunningham, Vinson T.              Employee   42000  Per Annum
123        Fergenson, Micah F.              Employee   42000  Per Annum
82               Cuba, Juan C.              Employee   42000  Per Annum
396           Smith, Kelley S.              Employee   42000  Per Annum
77          Conrad, Shasti K.               Employee   42000  Per Annum
403         Stickel, Nicole T.              Employee   42000  Per Annum
73           Cobbina, Kwesi A.              Employee   42000  Per Annum
68              Chhabra, Anand              Employee   42000  Per Annum
412        Swanson, Gregory C.              Employee   42000  Per Annum
63          Castillo, Laura M.              Employee   42000  Per Annum
392             Sirbu, Mara L.              Employee   42000  Per Annum
338           Posey, Stacie M.              Employee   42000  Per Annum
..                         ...                   ...     ...        ...
91            Davies, Susan M.              Employee  158500  Per Annum
298          Nabors, Robert L.              Employee  162500  Per Annum
212          Kiley, Bradley J.              Employee  162900  Per Annum
269          Massey, Katherine              Detailee  165000  Per Annum
451          Weiser, Philip J.              Detailee  172000  Per Annum
13           Axelrod, David M.              Employee  172200  Per Annum
374        Schiliro, Philip M.              Employee  172200  Per Annum
358            Rouse, Peter M.              Employee  172200  Per Annum
143           Gibbs, Robert L.              Employee  172200  Per Annum
17           Barnes, Melody C.              Employee  172200  Per Annum
22            Bauer, Robert F.              Employee  172200  Per Annum
385             Sher, Susan S.              Employee  172200  Per Annum
88          Cutter, Stephanie               Employee  172200  Per Annum
101         Donilon, Thomas E.              Employee  172200  Per Annum
141        Gaspard, Patrick H.              Employee  172200  Per Annum
283          Messina, James A.              Employee  172200  Per Annum
188        Jarrett, Valerie B.              Employee  172200  Per Annum
40            Brennan, John O.              Employee  172200  Per Annum
409       Summers, Lawrence H.              Employee  172200  Per Annum
198            Jones, James L.              Employee  172200  Per Annum
410           Sutphen, Mona K.              Employee  172200  Per Annum
121       Favreau, Jonathan E.              Employee  172200  Per Annum
116           Emanuel, Rahm I.              Employee  172200  Per Annum
270    Mastromonaco, Alyssa M.              Employee  172200  Per Annum
260         Lu, Christopher P.              Employee  172200  Per Annum
330        Pfeiffer, Howard D.              Employee  172200  Per Annum
44         Brown, Elizabeth M.              Employee  172200  Per Annum
45           Browner, Carol M.              Employee  172200  Per Annum
166           Hash, Michael M.              Detailee  179700  Per Annum
258           Love, Timothy P.              Detailee  179700  Per Annum

                                        Position Title
66                                   SPECIAL ASSISTANT
277                                            ADVISOR
461                                     POLICY ADVISOR
235                                    STAFF ASSISTANT
248                         RECORDS MANAGEMENT ANALYST
185                         RECORDS MANAGEMENT ANALYST
373                                            ANALYST
103             ENERGY AND ENVIRONMENT STAFF ASSISTANT
104                                            ANALYST
353                                            ANALYST
231                              LEGISLATIVE ASSISTANT
230                                        COORDINATOR
341                                    STAFF ASSISTANT
120                                ADVANCE COORDINATOR
122                                    STAFF ASSISTANT
375                                    STAFF ASSISTANT
391                         OPERATIONS STAFF ASSISTANT
395                                     SENIOR ANALYST
85                           ECONOMICS STAFF ASSISTANT
123                                    STAFF ASSISTANT
82                                     STAFF ASSISTANT
396                                     SENIOR ANALYST
77                                     STAFF ASSISTANT
403                                     SENIOR ANALYST
73                                     STAFF ASSISTANT
68                                     STAFF ASSISTANT
412                                     SENIOR ANALYST
63                                             ANALYST
392                  NATIONAL SECURITY STAFF ASSISTANT
338                                            ANALYST
..                                                 ...
91   DEPUTY ASSISTANT TO THE PRESIDENT AND DEPUTY C...
298  DEPUTY ASSISTANT TO THE PRESIDENT AND SENIOR A...
212  ASSISTANT TO THE PRESIDENT FOR MANAGEMENT AND ...
269                             SENIOR POLICY DIRECTOR
451  SENIOR ADVISOR FOR TECHNOLOGY AND INNOVATION T...
13       ASSISTANT TO THE PRESIDENT AND SENIOR ADVISOR
374  ASSISTANT TO THE PRESIDENT AND DIRECTOR, OFFIC...
358      ASSISTANT TO THE PRESIDENT AND SENIOR ADVISOR
143     ASSISTANT TO THE PRESIDENT AND PRESS SECRETARY
17   ASSISTANT TO THE PRESIDENT AND DIRECTOR OF THE...
22   ASSISTANT TO THE PRESIDENT AND COUNSEL TO THE ...
385  ASSISTANT TO THE PRESIDENT, CHIEF OF STAFF TO ...
88     ASSISTANT TO THE PRESIDENT FOR SPECIAL PROJECTS
101  ASSISTANT TO THE PRESIDENT AND DEPUTY NATIONAL...
141  ASSISTANT TO THE PRESIDENT AND DIRECTOR OF POL...
283  ASSISTANT TO THE PRESIDENT AND DEPUTY CHIEF OF...
188  SENIOR ADVISOR AND ASSISTANT TO THE PRESIDENT ...
40   ASSISTANT TO THE PRESIDENT FOR HOMELAND SECURI...
409  ASSISTANT TO THE PRESIDENT FOR ECONOMIC POLICY...
198                          NATIONAL SECURITY ADVISOR
410  ASSISTANT TO THE PRESIDENT AND DEPUTY CHIEF OF...
121  ASSISTANT TO THE PRESIDENT AND DIRECTOR OF SPE...
116      ASSISTANT TO THE PRESIDENT AND CHIEF OF STAFF
270  ASSISTANT TO THE PRESIDENT AND DIRECTOR OF SCH...
260   ASSISTANT TO THE PRESIDENT AND CABINET SECRETARY
330  ASSISTANT TO THE PRESIDENT AND DIRECTOR OF COM...
44      ASSISTANT TO THE PRESIDENT AND STAFF SECRETARY
45   ASSISTANT TO THE PRESIDENT FOR ENERGY AND CLIM...
166                                    DEPUTY DIRECTOR
258                                    POLICY DIRECTOR

[469 rows x 5 columns]
                  E_name  E_status  Salary  Pay Basis  \
166     Hash, Michael M.  Detailee  179700  Per Annum
258     Love, Timothy P.  Detailee  179700  Per Annum
13     Axelrod, David M.  Employee  172200  Per Annum
17     Barnes, Melody C.  Employee  172200  Per Annum
22      Bauer, Robert F.  Employee  172200  Per Annum
40      Brennan, John O.  Employee  172200  Per Annum
44   Brown, Elizabeth M.  Employee  172200  Per Annum
45     Browner, Carol M.  Employee  172200  Per Annum
88    Cutter, Stephanie   Employee  172200  Per Annum
101   Donilon, Thomas E.  Employee  172200  Per Annum

                                        Position Title
166                                    DEPUTY DIRECTOR
258                                    POLICY DIRECTOR
13       ASSISTANT TO THE PRESIDENT AND SENIOR ADVISOR
17   ASSISTANT TO THE PRESIDENT AND DIRECTOR OF THE...
22   ASSISTANT TO THE PRESIDENT AND COUNSEL TO THE ...
40   ASSISTANT TO THE PRESIDENT FOR HOMELAND SECURI...
44      ASSISTANT TO THE PRESIDENT AND STAFF SECRETARY
45   ASSISTANT TO THE PRESIDENT FOR ENERGY AND CLIM...
88     ASSISTANT TO THE PRESIDENT FOR SPECIAL PROJECTS
101  ASSISTANT TO THE PRESIDENT AND DEPUTY NATIONAL...
                        E_name              E_status  Salary  Pay Basis  \
66           Chen, Margaret C.              Employee       0  Per Annum
277      McGinnis, Patricia G.              Employee       0  Per Annum
461             Wong, Shale L.              Employee       0  Per Annum
235  Leitner-Laserna, Sofia I.  Employee (part-time)   21000  Per Annum
248     Liegel, Christopher J.              Employee   37826  Per Annum
185      Jackson, Elizabeth J.              Employee   37983  Per Annum
5             Alley, Hilary J.              Employee   42000  Per Annum
11           Asen, Jonathan D.              Employee   42000  Per Annum
14          Ayling, Lindsay A.              Employee   42000  Per Annum
15          Baggetto, Maude L.              Employee   42000  Per Annum

                 Position Title
66            SPECIAL ASSISTANT
277                     ADVISOR
461              POLICY ADVISOR
235             STAFF ASSISTANT
248  RECORDS MANAGEMENT ANALYST
185  RECORDS MANAGEMENT ANALYST
5               STAFF ASSISTANT
11               SENIOR ANALYST
14                      ANALYST
15              STAFF ASSISTANT

In [29]:
import pandas as pd 

#reading files
df = pd.read_csv('/home/venkatesh/Documents/data_science/nics.csv')

# shape, columns attributes and info and describe methods
print(df.shape)
print('\n\n')
print(df.columns)
print('\n\n')
print(df.info())
print('\n\n')
print(df.describe())
print('\n\n')
print(df.describe(include = 'object'))
print('\n\n')

#sorting the values in the data by column (axis = 0)
sort = df.sort_values(by = ['permit'], axis = 0 , ascending = False)
print(sort)


#printing the largest and smallest 10 elements
lrg = df.nlargest(10, 'permit')
sml = df.nsmallest(10, 'permit')
print('\n\n')
print(lrg)
print('\n\n')
print('sml')

(13915, 27)



Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'],
      dtype='object')



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13915 entries, 0 to 13914
Data columns (total 27 columns):
month                        13915 non-null object
state                        13915 non-null object
permit                       13891 non-null float64
permit_recheck               2530 non-null float64
handgun                      13895 non-null float64
long_gun                     13896 non-null float64
other                        6930 non-null float64
multiple                     13915 non-null int64
admin                        13892 non-null float64
prepawn_handgun              11972 non-null float64
prepawn_long_gun             11970 non-null float64
prepawn_other                6545 non-null float64
redemption_handgun           11975 non-null float64
redemption_long_gun          11974 non-null float64
redemption_other             6545 non-null float64
returned_handgun             3630 non-null float64
returned_long_gun            3575 non-null float64
returned_other               3245 non-null float64
rentals_handgun              2420 non-null float64
rentals_long_gun             2255 non-null float64
private_sale_handgun         4180 non-null float64
private_sale_long_gun        4180 non-null float64
private_sale_other           4180 non-null float64
return_to_seller_handgun     3905 non-null float64
return_to_seller_long_gun    4180 non-null float64
return_to_seller_other       3685 non-null float64
totals                       13915 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.9+ MB
None



              permit  permit_recheck        handgun       long_gun  \
count   13891.000000     2530.000000   13895.000000   13896.000000
mean     7109.665827     4472.106719    6378.952429    7787.765544
std     26671.836201    32342.422884    9132.310695    9139.057970
min         0.000000        0.000000       0.000000       0.000000
25%         0.000000        0.000000     977.000000    2118.750000
50%       698.000000        0.000000    3314.000000    5135.000000
75%      5053.500000       14.000000    7892.000000   10435.250000
max    522188.000000   448997.000000  107224.000000  108058.000000

              other      multiple         admin  prepawn_handgun  \
count   6930.000000  13915.000000  13892.000000     11972.000000
mean     445.068110    280.842113     55.682551         5.059472
std     1305.584023    769.778686    580.575951        11.195156
min        0.000000      0.000000      0.000000         0.000000
25%       23.000000     14.000000      0.000000         0.000000
50%      154.000000    131.000000      0.000000         0.000000
75%      450.000000    313.000000      0.000000         5.000000
max    77929.000000  38907.000000  28083.000000       164.000000

       prepawn_long_gun  prepawn_other  ...  returned_other  rentals_handgun  \
count      11970.000000    6545.000000  ...     3245.000000      2420.000000
mean           7.597911       0.278075  ...        1.343297         0.153306
std           15.897874       1.178707  ...        4.845949         1.041139
min            0.000000       0.000000  ...        0.000000         0.000000
25%            0.000000       0.000000  ...        0.000000         0.000000
50%            1.000000       0.000000  ...        0.000000         0.000000
75%            8.000000       0.000000  ...        0.000000         0.000000
max          269.000000      49.000000  ...       73.000000        13.000000

       rentals_long_gun  private_sale_handgun  private_sale_long_gun  \
count       2255.000000           4180.000000            4180.000000
mean           0.138803             22.467943              18.386364
std            0.874451             90.764379              71.955177
min            0.000000              0.000000               0.000000
25%            0.000000              0.000000               0.000000
50%            0.000000              0.000000               0.000000
75%            0.000000             10.000000              11.000000
max           12.000000           1299.000000             993.000000

       private_sale_other  return_to_seller_handgun  \
count         4180.000000               3905.000000
mean             2.225120                  0.793342
std              8.475902                  3.981072
min              0.000000                  0.000000
25%              0.000000                  0.000000
50%              0.000000                  0.000000
75%              1.000000                  0.000000
max            195.000000                 70.000000

       return_to_seller_long_gun  return_to_seller_other         totals
count                4180.000000             3685.000000   13915.000000
mean                    0.785407                0.107463   23533.330147
std                     3.381343                0.411376   38207.572106
min                     0.000000                0.000000       0.000000
25%                     0.000000                0.000000    4849.500000
50%                     0.000000                0.000000   12930.000000
75%                     0.000000                0.000000   27202.500000
max                    62.000000                4.000000  541978.000000

[8 rows x 25 columns]



          month          state
count     13915          13915
unique      253             55
top     2006-06  West Virginia
freq         55            253



         month            state    permit  permit_recheck  handgun  long_gun  \
3775   2014-03   North Carolina  522188.0             NaN   1054.0   13571.0
953    2018-06         Kentucky  395679.0             0.0   7130.0    4686.0
733    2018-10         Kentucky  394208.0             0.0   7065.0    8001.0
678    2018-11         Kentucky  393953.0             0.0  10506.0   12670.0
843    2018-08         Kentucky  393679.0             0.0   7250.0    6241.0
788    2018-09         Kentucky  393160.0             0.0   6603.0    6014.0
1118   2018-03         Kentucky  390708.0             0.0  14642.0   10303.0
1063   2018-04         Kentucky  390433.0             0.0   8893.0    6662.0
1173   2018-02         Kentucky  387471.0             0.0  13917.0    9302.0
1228   2018-01         Kentucky  384989.0             0.0   8202.0    5736.0
1283   2017-12         Kentucky  380648.0             0.0  16727.0   16102.0
1008   2018-05         Kentucky  379571.0             0.0   7620.0    4696.0
898    2018-07         Kentucky  379409.0             0.0   6306.0    4537.0
1393   2017-10         Kentucky  379403.0             0.0   8758.0    8739.0
1448   2017-09         Kentucky  378384.0             0.0   8112.0    7543.0
1503   2017-08         Kentucky  376016.0             0.0   8039.0    6555.0
1558   2017-07         Kentucky  374603.0             0.0   7236.0    5118.0
1668   2017-05         Kentucky  374078.0             0.0   8690.0    5378.0
1613   2017-06         Kentucky  373842.0             0.0   8765.0    5223.0
1338   2017-11         Kentucky  373308.0             0.0  12568.0   13718.0
1723   2017-04         Kentucky  372852.0             0.0   9858.0    6519.0
623    2018-12         Kentucky  371756.0             0.0  14189.0   14309.0
1778   2017-03         Kentucky  370113.0             0.0  13769.0    8992.0
403    2019-04         Kentucky  361715.0             0.0  10133.0    5989.0
1943   2016-12         Kentucky  358510.0             0.0  17311.0   16766.0
2053   2016-10         Kentucky  354387.0             0.0  10111.0   10030.0
458    2019-03         Kentucky  350354.0             0.0  15646.0    8110.0
2218   2016-07         Kentucky  342858.0             0.0   9378.0    6615.0
2273   2016-06         Kentucky  340735.0             0.0   8703.0    6584.0
1888   2017-01         Kentucky  325954.0             0.0   9743.0    6700.0
...        ...              ...       ...             ...      ...       ...
10546  2003-12      Puerto Rico       0.0             NaN    615.0     134.0
6687   2009-10       New Jersey       0.0             NaN   2393.0    2497.0
6692   2009-10             Ohio       0.0             NaN  15130.0   15489.0
10543  2003-12         Oklahoma       0.0             NaN   4872.0   14608.0
10542  2003-12             Ohio       0.0             NaN   9941.0   25472.0
11377  2002-09             Utah       0.0             NaN   1215.0    4328.0
8709   2006-09        Louisiana       NaN             NaN   5948.0   10836.0
8740   2006-09         Virginia       NaN             NaN   6935.0   11023.0
9234   2005-12   Virgin Islands       NaN             NaN     22.0       1.0
9289   2005-11   Virgin Islands       NaN             NaN     13.0       2.0
9344   2005-10   Virgin Islands       NaN             NaN      NaN       NaN
9399   2005-09   Virgin Islands       NaN             NaN      NaN       NaN
9454   2005-08   Virgin Islands       NaN             NaN      NaN       NaN
9509   2005-07   Virgin Islands       NaN             NaN      NaN       NaN
9564   2005-06   Virgin Islands       NaN             NaN      NaN       NaN
9619   2005-05   Virgin Islands       NaN             NaN      NaN       NaN
9674   2005-04   Virgin Islands       NaN             NaN      NaN       1.0
9729   2005-03   Virgin Islands       NaN             NaN      NaN       NaN
9784   2005-02   Virgin Islands       NaN             NaN      NaN       NaN
9839   2005-01   Virgin Islands       NaN             NaN      NaN       NaN
9921   2004-11  Mariana Islands       NaN             NaN      NaN       NaN
11104  2003-02   Virgin Islands       NaN             NaN      NaN       NaN
13441  1999-07  Mariana Islands       NaN             NaN      NaN       NaN
13496  1999-06  Mariana Islands       NaN             NaN      NaN       NaN
13551  1999-05  Mariana Islands       NaN             NaN      NaN       NaN
13606  1999-04  Mariana Islands       NaN             NaN      NaN       NaN
13661  1999-03  Mariana Islands       NaN             NaN      NaN       NaN
13716  1999-02  Mariana Islands       NaN             NaN      NaN       NaN
13771  1999-01  Mariana Islands       NaN             NaN      NaN       NaN
13826  1998-12  Mariana Islands       NaN             NaN      NaN       NaN

       other  multiple  admin  prepawn_handgun  ...  returned_other  \
3775   528.0       227    0.0              3.0  ...             NaN
953    304.0       523    0.0             22.0  ...             0.0
733    360.0       523    7.0             18.0  ...             0.0
678    437.0       888    1.0             25.0  ...             0.0
843    306.0       490    4.0             18.0  ...             0.0
788    300.0       448    1.0             25.0  ...             0.0
1118   818.0       727    5.0             26.0  ...             0.0
1063   439.0       488    3.0             16.0  ...             0.0
1173   532.0      1001    4.0             30.0  ...             0.0
1228   323.0       394    0.0             16.0  ...             0.0
1283   502.0       654    8.0             18.0  ...             0.0
1008   344.0       434    3.0             10.0  ...             0.0
898    295.0       341    2.0             17.0  ...             0.0
1393   371.0       496    0.0             11.0  ...             0.0
1448   253.0       543    1.0             16.0  ...             0.0
1503   244.0       459    0.0             13.0  ...             0.0
1558   241.0       419    0.0              9.0  ...             0.0
1668   223.0       433    0.0              5.0  ...             0.0
1613   265.0       469    0.0              5.0  ...             0.0
1338   365.0       632    3.0             18.0  ...             0.0
1723   257.0       433    0.0              8.0  ...             0.0
623    581.0       618    1.0             16.0  ...             0.0
1778   347.0       645    0.0              7.0  ...             0.0
403    390.0       452    4.0             18.0  ...             0.0
1943   371.0       673    0.0             12.0  ...             0.0
2053   354.0       519    0.0             10.0  ...             0.0
458    534.0       781    5.0             15.0  ...             0.0
2218   321.0       534    0.0              7.0  ...             0.0
2273   438.0       499    0.0              9.0  ...             0.0
1888   292.0       397    0.0              8.0  ...             0.0
...      ...       ...    ...              ...  ...             ...
10546    NaN        20    0.0              0.0  ...             NaN
6687     0.0        61    2.0              0.0  ...             NaN
6692   327.0       668    0.0             27.0  ...             NaN
10543    NaN       345    0.0              5.0  ...             NaN
10542    NaN       557    0.0             20.0  ...             NaN
11377    NaN        55    0.0              0.0  ...             NaN
8709     NaN       253    0.0              5.0  ...             NaN
8740     NaN       242    0.0              0.0  ...             NaN
9234     NaN         0    NaN              NaN  ...             NaN
9289     NaN         1    NaN              NaN  ...             NaN
9344     NaN         0    NaN              NaN  ...             NaN
9399     NaN         0    NaN              NaN  ...             NaN
9454     NaN         0    NaN              NaN  ...             NaN
9509     NaN         0    NaN              NaN  ...             NaN
9564     NaN         0    NaN              NaN  ...             NaN
9619     NaN         0    NaN              NaN  ...             NaN
9674     NaN         0    NaN              NaN  ...             NaN
9729     NaN         0    NaN              NaN  ...             NaN
9784     NaN         0    NaN              NaN  ...             NaN
9839     NaN         0    NaN              NaN  ...             NaN
9921     NaN         0    NaN              NaN  ...             NaN
11104    NaN         0    NaN              NaN  ...             NaN
13441    NaN         0    NaN              NaN  ...             NaN
13496    NaN         0    NaN              NaN  ...             NaN
13551    NaN         0    NaN              NaN  ...             NaN
13606    NaN         0    0.0              NaN  ...             NaN
13661    NaN         0    NaN              NaN  ...             NaN
13716    NaN         0    NaN              NaN  ...             NaN
13771    NaN         0    NaN              NaN  ...             NaN
13826    NaN         0    NaN              NaN  ...             NaN

       rentals_handgun  rentals_long_gun  private_sale_handgun  \
3775               NaN               NaN                   0.0
953                0.0               0.0                  26.0
733                0.0               0.0                  10.0
678                0.0               0.0                  27.0
843                0.0               0.0                  30.0
788                0.0               0.0                  25.0
1118               0.0               0.0                  31.0
1063               0.0               0.0                   9.0
1173               0.0               0.0                  23.0
1228               0.0               0.0                  17.0
1283               0.0               0.0                  37.0
1008               0.0               0.0                  23.0
898                0.0               0.0                  18.0
1393               0.0               0.0                  18.0
1448               0.0               0.0                  21.0
1503               0.0               0.0                  22.0
1558               0.0               0.0                  26.0
1668               0.0               0.0                  17.0
1613               0.0               0.0                  31.0
1338               0.0               0.0                  26.0
1723               0.0               0.0                  20.0
623                0.0               0.0                  43.0
1778               0.0               0.0                  27.0
403                0.0               0.0                  24.0
1943               0.0               0.0                   0.0
2053               0.0               0.0                   0.0
458                0.0               0.0                  33.0
2218               NaN               NaN                  13.0
2273               NaN               NaN                   8.0
1888               0.0               0.0                   8.0
...                ...               ...                   ...
10546              NaN               NaN                   NaN
6687               NaN               NaN                   NaN
6692               NaN               NaN                   NaN
10543              NaN               NaN                   NaN
10542              NaN               NaN                   NaN
11377              NaN               NaN                   NaN
8709               NaN               NaN                   NaN
8740               NaN               NaN                   NaN
9234               NaN               NaN                   NaN
9289               NaN               NaN                   NaN
9344               NaN               NaN                   NaN
9399               NaN               NaN                   NaN
9454               NaN               NaN                   NaN
9509               NaN               NaN                   NaN
9564               NaN               NaN                   NaN
9619               NaN               NaN                   NaN
9674               NaN               NaN                   NaN
9729               NaN               NaN                   NaN
9784               NaN               NaN                   NaN
9839               NaN               NaN                   NaN
9921               NaN               NaN                   NaN
11104              NaN               NaN                   NaN
13441              NaN               NaN                   NaN
13496              NaN               NaN                   NaN
13551              NaN               NaN                   NaN
13606              NaN               NaN                   NaN
13661              NaN               NaN                   NaN
13716              NaN               NaN                   NaN
13771              NaN               NaN                   NaN
13826              NaN               NaN                   NaN

       private_sale_long_gun  private_sale_other  return_to_seller_handgun  \
3775                     0.0                 0.0                       NaN
953                     25.0                 2.0                       1.0
733                     22.0                 1.0                       1.0
678                     27.0                 3.0                       0.0
843                     45.0                 1.0                       0.0
788                     23.0                 0.0                       0.0
1118                    33.0                 6.0                       0.0
1063                    23.0                 2.0                       0.0
1173                    36.0                 5.0                       0.0
1228                    25.0                 2.0                       1.0
1283                    29.0                 2.0                       1.0
1008                    13.0                 0.0                       0.0
898                     24.0                 1.0                       2.0
1393                    28.0                 1.0                       0.0

In [30]:
#importing pandas
import pandas as pd

#reading file
df = pd.read_csv('nics.csv')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [31]:
pd.__version__

'0.24.2'